body {
    background-color: black;
    display:flex;
        align-items: center;
        justify-content: center;
    margin:0;
    min-height:100vh;
    min-width:100vw;
    overflow: auto;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout:none;
}
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
  position:absolute;
  top:5%;
  float:left;
  margin-bottom:20px;
  
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
#music{
  position: absolute;
  float:left;
  left:10%;
  height: 30px;
  margin-top: 215px;
}


canvas {
    background-color: black;
    height:100%;
    width:100%;
}

.portfolio {
    position:absolute;
        /*top:10px;
    /*visibility:hidden;*/
    /*left:45%;*/
    width:fit-content;
    height: 900px;
   /*background-color:white;*/
   /* margin-top:70px;*/
    
}


.portfolio a {
    color:oldlace;
    opacity:0.3;
    text-decoration: none;
}



/*
body {
    background-image: linear-gradient 
    (135deg, #667eea 0%, #764ba2 100%);
  }*/
  
 
/* basic styles for black background and crosshair cursor 
body {
	background: #000;
	margin: 0;
}

canvas {
	cursor: crosshair;
	display: block;
}*/
  #container1 {
	  position:relative;
	  float:left;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100px; /*100vh;*/
    /*max-height: fit-content;*/

    /*background-color:white;tttt*/
    
  }
  
  
canvas {
	cursor: crosshair;
	display: block;
}

  .book {
    position: relative;
    border-radius: 10px;
    width: 410px;
    
    height: 300px;
    
    /*background-image: url(bdycard.png);*/
    background-image: url(img/Pic1.png);
    background-size: cover;
    background-position: center;
    background-size: 90%;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
   }
  .cover {
    top: 0;
    position: absolute;
    background-color: lightgray;
    background-color: #4158D0;
    background-image:  url(img/coverPic.jpg);     /*url(bdycard1.png);*/
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-85deg);
    -ms-transform: rotatey(-85deg);
    transform: rotatey(-85deg);
  }

